body {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
 /* المطلوب الأول هنا */
  text-align: center;
  background-size: cover;
  background-image: url(./img/KuwaitCodesWallpaper.png);

}

/* المطلوب الثاني هنا */
nav { display: flex; justify-content:center ; 
}
.nav-elements {display: flex;  justify-content: space-around; width: 150px; 
}

.card {
  /* المطلوب الثالث هنا */
  width: 400px;
  height: 500px;
  background-color: white;
  box-shadow:5px 5px black;
border-radius: 70px;
}

#id1{ background-color: darkblue; }


img {box-shadow: 5px 5px rgba(0, 0, 0, 0.336);
  border-radius: 50%;  
  /* المطلوب الرابع هنا */
  width: 120px;
  height: 120px;
  margin-top: 20px; background-size: cover;
}

img:hover{    transform: translate(50px);}

.hobbies { display: grid; grid-template-columns: auto auto auto ; justify-content: space-around; 
  /* المطلوب السادس هنا */
}

.center {
  margin: auto;
}
 
ul {
  padding: 0;
  margin: 0;
  display: inline-block;
}

a {
  text-decoration: none;
  color: black;
}
